.footer-component {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #004ba0;
}

.footer-component .pro_border {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #63a4ff;
}

.footer-component .pro_border .lets_projects h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
}

h3#footer-component-SupportEmail {
  color: #f9aa33;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
}

.footer-component .copy-right_text {
  background: #004ba0;
}

.footer-component {
  font-size: 22px;
  font-weight: 400;
  color: #f9aa33;
  // text-transform: capitalize;
}

.footer-component p {
  color: #919191;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  margin-bottom: 0px;
}

.footer-component {
  font-size: 18px;
  font-weight: 500;
  color: #f9aa33;
  // text-transform: capitalize;
}
